body {
  min-width: 580px;
  overflow: auto;
  overflow-y: scroll;
  margin-bottom: 60px;
}

* {
  font-family: 'sans-serif';
}

ul {
  padding: 0;
  list-style-type: none;
}

.root,
.category-posts,
.post-details,
.edit-comment-container {
  margin: 70px 0 80px;
}

.create-comment {
  margin: 70px 0 0;
}

.edit-comment-form-container {
  width: 594px;
  min-height: 400px;
}

div.edit-post-container {
  margin-top: 90px;
}

.root,
.post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-post {
  display: flex;
  flex-direction: column;
}

.edit-post-info-container {
  display: flex;
  justify-content: center;
}

.create-comment-post {
  width: 594px;
  min-height: 400px;
}

.create-post-form-container {
  width: 594px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-posts,
.create-post,
.edit-comment,
.create-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px 0;
  border-bottom: solid 1px lightgrey;
  position: fixed;
  top: -20px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}

.comments-container {
  display: flex;
  justify-content: center;
}

div.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav li {
  padding: 0 5px;
}

.nav img {
  opacity: 0.5;
}

.nav .active img {
  opacity: 1;
}

.sort-posts {
  display: flex;
  align-items: center;
}

.no-match {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.edit-comment-form,
.edit-comment-form-body {
  display: flex;
  flex-direction: column;
}

.post-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.post-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.post {
  width: 594px;
  min-height: 400px;
}

.comments-list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-posts button {
  width: 100px;
  height: 50px;
}

.post {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.create-comment-post {
  border: 1px solid grey;
  padding: 20px;
}

.comments-list {
  display: flex;
  flex-direction: column;
}

.comment {
  border: 1px solid grey;
  padding: 20px;
  margin-top: 10px;
  width: 594px;
}

.post-buttons button {
  text-align: center;
  margin: 5px;
  width: 85px;
  height: 35px;
}

.comments-title {
  font-weight: bold;
  font-size: x-large;
  margin-top: 40px;
}

.all-posts-title,
.category-title,
.edit-comment-title,
.create-comment-title,
.post-details-post-title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-post-title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin: 20px 0 40px;
}

.create-post-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-post .post-buttons button {
  margin: 30px 0;
}

.create-post-label-title {
  padding: 10px 0 0;
}

.create-post label {
  font-size: 15px;
  font-weight: bolder;
}

.create-post-form-container {
  border: 1px solid grey;
  margin-top: -11px;
  width: 594px;
  min-height: 400px;
}

.create-post-title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: -9px;
  margin-bottom: 48px;
}

.root-title-and-sort-container,
.category-title-and-sort-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-info {
  margin: 0 10px 10px 10px;
}

.create-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-comment-form {
  display: flex;
  flex-direction: column;
}

.create-comment-form-container {
  margin-bottom: 20px;
}

.create-comment-submit-input-container {
  display: flex;
  justify-content: center;
}

input,
textarea,
select {
  width: 500px;
  margin: 10px;
}

.edit-comment-post-text {
  font-weight: bold;
  margin-right: 5px;
}

.edit-comment-post-container {
  display: flex;
  align-items: center;
}

.category-link,
.post-link {
  text-decoration: underline;
  text-decoration-color: blue;
  font-weight: bold;
  color: blue;
}

.category-link {
  font-weight: normal;
}

.create-comment-submit-input,
.create-comment-submit-input-container button {
  height: 30px;
  width: 70px;
}

.create-comment-submit-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-comment-author-input {
  line-height: 2em;
}

.create-comment-author {
  text-align: center;
  margin-top: -1px;
}

.create-comment-body {
  text-align: center;
  margin-top: 20px;
}

.edit-comment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  padding: 20px;
}

.edit-comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 520px;
  padding: 0;
}

div.post {
  width: 594px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px lightgrey;
  background-color: white;
}

.footer img {
  width: 50px;
  height: 50px;
}

.portfolio img {
  padding-left: 8px;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading * {
  margin: 0 2px;
}

.hidden {
  display: none;
}
