body {
  min-width: 580px;
  overflow: auto;
  height: 100vh;
}

* {
  font-family: 'sans-serif';
}

ul {
  padding: 0;
  list-style-type: none;
}

.root,
.post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-post {
  display: flex;
  flex-direction: column;
}

.edit-post-container {
  display: flex;
  justify-content: center;
}

.create-comment-post {
  min-width: 520px;
}

.create-post-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-posts,
.create-post,
.edit-comment,
.create-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.comments-container {
  display: flex;
  justify-content: center;
}

div.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav li {
  padding: 0 5px;
}

.nav img {
  opacity: 0.5;
}

.nav .active img {
  opacity: 1;
}

.sort-posts {
  display: flex;
  align-items: center;
}

.no-match {
  display: flex;
  justify-content: center;
}

.edit-comment-form,
.edit-comment-form-body {
  display: flex;
  flex-direction: column;
}

.post-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.post-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.post {
  width: 594px;
  height: 400px;
}

.comments-list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-posts button {
  width: 100px;
  height: 50px;
}

.post {
  margin-bottom: 20px;
  border: 2px solid grey;
  padding: 20px;
}

.create-comment-post {
  border: 2px solid grey;
  padding: 20px;
}

.comments-list {
  display: flex;
  flex-direction: column;
}

.comment {
  border: 2px solid grey;
  padding: 20px;
  margin-top: 10px;
}

.post-buttons button {
  text-align: center;
  margin: 5px;
  width: 85px;
  height: 35px;
}

.comments-title {
  font-weight: bold;
  font-size: x-large;
  margin-top: 40px;
}

.all-posts-title,
.category-title,
.edit-comment-title,
.edit-post-title,
.create-comment-title,
.post-details-post-title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-post-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-post-label-title {
  padding: 10px 0 0;
}

.create-post label {
  font-size: 15px;
  font-weight: bolder;
}

.create-post-form-container {
  border: 2px solid grey;
  margin-top: -12px;
  padding: 0 0 20px;
  width: 590px;
  height: 320px;
}

.create-post-title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: -12px;
  margin-bottom: 48px;
}

.root-title-and-sort-container,
.category-title-and-sort-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-info {
  margin: 0 10px 10px 10px;
}

.create-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-comment-form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  width: 500px;
  margin: 10px;
}

.edit-comment-post-text {
  font-weight: bold;
  margin-right: 5px;
}

.edit-comment-post-container {
  display: flex;
  align-items: center;
}

.category-link,
.post-link {
  text-decoration: underline;
  text-decoration-color: blue;
  font-weight: bold;
  color: blue;
}

.category-link {
  font-weight: normal;
}

.create-comment input:last-child {
  height: 50px;
}

.create-comment-author,
.create-comment-body {
  text-align: center;
}

.create-comment button {
  width: 100px;
  margin: 10px;
}

.edit-comment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  padding: 20px;
}

.edit-comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 520px;
  padding: 0;
}

div.post {
  width: 594px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer img {
  width: 50px;
  height: 50px;
}

.portfolio img {
  padding-left: 8px;
}
